body {
    background-color: burlywood;
    color: black;
    font-family: ; font-family: "Afacad", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(80, 12, 12);
    color: white;
    font-family: ; font-family: "Afacad", sans-serif;
}

.passo [
    display: none;
]

.passo.ativo [
    display:block;
]
